# App
APP_NAME="My Assets Tracker"
APP_URL=http://localhost:8000

# Database
DATABASE_URL=file:/database/main.db
PRISMA_QUERY_ENGINE_LIBRARY=prisma/query_engine-windows.dll.node

# Auth
JWT_ACCESS_SECRET=secret_1
JWT_REFRESH_SECRET=secret_2

# Email
SUPPORT_EMAIL_HOST=
SUPPORT_EMAIL_USER=
SUPPORT_EMAIL_PASSWORD=

FINANCE_EMAIL_HOST=
FINANCE_EMAIL_USER=
FINANCE_EMAIL_PASSWORD=

# External API
COINLAYER_API=
COINLAYER_API_KEY=

# Server
NODE_ENV=production
INTERNAL_SECRET=
PORT=8000