# Build outputs
output
dist
#build

# Node dependencies
node_modules

# Logs
logs
*.log

# Temporary and generated directories
tmp

# Misc
.DS_Store
.fleet
.idea
.vscode
.private
dev
*.rest

# Local env files
.env
.env.*
!.env.example


# SQLite Database
database
prisma/migrations

#Prisma
src/lib/prisma